.page{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    text-align: center;
}
#page1 {
    margin: 10px;
}
hr{
    border: none;
    background: silver;
    height: 1px;
}
h6{
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}