body{
    overflow:hidden;
}

#content_wrapper{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

a:hover { 
    color:#ffffff;
}

.card{
    background: #f1f1f1;
    margin-top: -10px;
    position: absolute;
}
.card-top{
    background: #F15A24;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    color: white;
}
.formContent{
    background: #ffffff;
    z-index: 10;
    position: absolute;
    top: 150px;
    width: 90%;
    left: 5%;
    padding: 16px;
    box-shadow: silver 0 1px 1px;
    color: #000000;
}
hr{
    border: none;
    height: 1px;
    background: silver;
    width: 30%;
}
.btn{
    margin: auto;
}
.down {
	position: absolute;
    z-index: 11;
    bottom: 30px;
    right: 20px;
}
.cards-title{
    font-size: 25px;
    font-weight: 300;
}