<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "np.com.sandeshbhusal"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Arang</name>

    <description>
        Bus tracker for the enterprise.
    </description>

    <author href="https://sandeshbhusal.com.np" email="sandeshbhusal@outlook.com">
        BitKnit technologies 
    </author>
    <platform name="android">
        <preference name="phonegap-version" value="4.0.2" />
        <preference name="orientation" value="portrait" />
        
        <icon src="LauncherIcons/mipmap-hdpi/ic_launcher.png" gap:platform="android" gap:density="hdpi" />
        <icon src="LauncherIcons/mipmap-mdpi/ic_launcher.png" gap:platform="android" gap:density="mdpi" />
        <icon src="LauncherIcons/mipmap-xhdpi/ic_launcher.png" gap:platform="android" gap:density="xhdpi" />
        <icon src="LauncherIcons/mipmap-xxhdpi/ic_launcher.png" gap:platform="android" gap:density="xxhdpi" />
        <icon src="LauncherIcons/mipmap-xxxhdpi/ic_launcher.png" gap:platform="android" gap:density="xxxhdpi" />
    </platform>
</widget>